<div class="balloon-review-list" data-role="review-list"></div>
<div class="balloon-form" data-role="review-form">
  <h3 class="balloon-header">Отзыв:</h3>
  <input class="balloon-form-input" id="input-name" data-role="review-name" placeholder="Укажите ваше имя" autofocus>
  <input class="balloon-form-input" id="input-place" data-role="review-place" placeholder="Укажите место">
  <textarea class="balloon-form-input" id="input-text" data-role="review-text" rows="7" placeholder="Оставить отзыв"></textarea>
  <button data-role="review-add" class="balloon-form-button">Добавить</button>
  <span class="balloon-form-error" id="form-error"></span>
</div